

<% @places.each do |place| %>
  <div class="main-picture col-12">
    <% if place.photos.present? %>
      <%= image_tag place.photos.first.picture.to_s, :class => "main-picture" %><br/>
      <h1><%= place.photos.first.caption %></h1>
    <% end %>
  </div>  

  <div class="booyah-box col-12">
    
    <h1><%= link_to place.name, place_path(place) %></h1>
    <i><%= place.address %></i><br/>
    <%= place.description %>
    <% if place.user.present? %><br/>
      <small><%= place.user.email %></small>
    <% end %>
        
    <% if place.comments.present? %>
      <div class="col-12">
        <blockquote>
          <% if place.comments.last.humanized_rating.present? %>
            <b><%= place.comments.last.humanized_rating %></b> -
          <% end %>
          <%= place.comments.last.message %><br/>-
          <small><%= place.comments.last.user.email %></small>
        </blockquote>
      </div>
    <% end %>
  </div>

<% end %>



